body {
    background-color: #111222;
    font-family: 'Noto Sans JP', sans-serif;
    text-align: center;
    color:white;
}
header {
    background-image: url("https://cdn.glitch.me/91eba502-1d88-49e8-9570-e102a8a8b6f3/FullSizeRender.gif?v=1650152377815");
}
.header-text {
    padding: 150px 0px;
}
.ytybt {
    padding: 20px;
    background-color: #91cfff;
    width: 600px;
    height: 355px;
    text-align: center;
}
.shita {
    text-align: center;
}